<html>
	<head>
		<meta charset="utf-8">
		<title>title</title>
	</head>
	<body>
	<header>
		<a href="/">Home</a>
		<a href="/about">About</a>
	</header>
		
		<h2>This is my home page.</h2>
		<h6>Contant goes here.</h6>
	<footer>
		Copyright @{{currentYear}}
		<h4>This is the footer page.</h4>
	</footer>
	</body>
</html>